body {

  &.dark {
    --block-color-0: #404664;
    --background-color: #17223b;
    --block-color-1: #263859;
    --block-color-2: #6b778d;
    --main-color: #ff6741;
    --font-color: #fff;
    --font-color-2: rgb(112, 115, 146);
  }
  
  &.light {
    --block-color-0: #fcecdd;
    --background-color: #f3d2b4;
    --block-color-1: #ffc288;
    --block-color-2: #be7a1c;
    --block-color-3: #fea82f;
    --main-color: #ff6741;
    --font-color: #000;
    --font-color-2: rgb(179, 164, 142);
  }

}
